<% layout('layout') -%>
    <h2>Meus Contatos</h2>


    <% if (!contacts || contacts.length===0) { %>
        <p>Nenhum contato ainda. <a href="/contacts/new">Criar o primeiro</a>.</p>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nascimento</th>
                        <th>Sexo</th>
                        <th>E-mail</th>
                        <th>Likes</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach(c=> { %>
                        <%- include('./_row', { c }) %>
                            <% }) %>
                </tbody>
            </table>
            <% } %>